.vercel
*.log
*.pyc
__pycache__
db.sqlite3
media

# Database files
test_*.sqlite3
*.db
*.sqlite
*.sqlite3

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/

# Static files
staticfiles_build/